{% load i18n %}
{% load staticfiles %}

<!-- Modal -->
<div class="modal fade" id="conditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">會員服務條款</h4>
            </div>
            <div class="modal-body custom-scroll terms-body">
                <div id="left">
                    <h2>會員條款說明</h2>
                    <p>歡迎加入「重要農產品每日量價資訊平台」會員，本網站僅提供本會及所屬機關人員使用。</p>
                    <h2>註冊義務</h2>
                    <ul>
                        <li>您於首次使用本服務時，須依註冊申請程序所提示之項目，登錄正確、真實及完整之個人資料，如登錄之資料嗣後有變更時，應依本網站規定於線上更新。</li>
                        <li>您所提供之個人資料如有填寫不實、原所登錄之資料已不符合真實而未更新者，本網站有權隨時終止您的會員資格。</li>
                        <li>您調離本會或所屬機關時，請通知本網站更改您的會員資訊或終止您的會員資格。</li>
                    </ul>
                    <h2>服務說明</h2>
                    <p>本網站提供包括各種重要農產品價量資訊查詢、輿情回應專區、重要產銷事件簿等功能。本會及所屬各機關會員登入後可查詢各項功能，惟「輿情回應專區」及「重要產銷事件簿」由本網站設定權限，請各產業單位指定專人維護。</p>
                    <h2>保密規定</h2>
                    <p>本平台有關監控資訊、輿情回應及重要產銷事件等相關資訊，由業管機關(單位)依權責對外公開，未經各品項業管產業機關(單位)首長授權同意，使用者不得對外公開本網站。</p>
                    <h2>會員帳號及密碼之保管</h2>
                    <ul>
                        <li>您註冊完成後將會取得一組帳號及密碼，您有義務妥善保管您的帳號及密碼之機密與安全，不得洩漏給任何第三人。</li>
                        <li>如您發現您的帳號及密碼遭盜用或被他人不當使用，您必須立即通知本網站，以利本網站採取相關措施。</li>
                    </ul>
                    <h2>會員通知</h2>
                    <p>向您發出的任何通知及本服務條款或其他事項有所變更時，將以電子郵件為主。</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
                </button>
                <button type="button" class="btn btn-primary" id="i-agree" data-dismiss="modal" onclick="document.getElementById('{{ checkbox_id }}').checked = true;">
                <i class="fa fa-check"></i> 我同意
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->