{% load i18n %}

<form method="post" action="{% url 'accounts:edit-info' %}" class="js-edit-info-form">  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Edit your information' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% load widget_tweaks %}
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
    <button type="submit" class="btn btn-primary prevent-double-click">{% trans 'Submit' %}</button>
  </div>
</form>
