{% extends 'account-base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}
{% trans 'Reset Password' %}
{% endblock title %}

{% block header_link %}
<span id="extr-page-header-space"> <span class="hidden-mobile hidden-xs">{% trans 'Already have an account' %}?</span> <a href="{% url 'accounts:login' %}" class="btn btn-danger">{% trans 'Log in' %}</a> </span>
{% endblock header_link %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="well no-padding">
            {% if valid_link %}
              <form method="POST" action="" id="login-form" class="smart-form client-form">{% csrf_token %}
                <header>
                    {% trans 'Reset Password' %}
                </header>
                <fieldset>
					<section>
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					</section>
					<section>
						<label for="{{ form.password.auto_id }}" class="input"> <i class="icon-append fa fa-lock"></i>
							<input id="{{ form.password.auto_id }}" type="password" name="password" placeholder="{{ form.password.label }}">
							<b class="tooltip tooltip-bottom-right">{{ form.password.help_text }}</b>
						</label>
						{% for error in form.password.errors %}
							<small class="help-block text-danger" style="">{{ error|escape }}</small>
						{% endfor %}
					</section>

					<section>
						<label for="{{ form.password2.auto_id }}" class="input"> <i class="icon-append fa fa-lock"></i>
							<input id="{{ form.password2.auto_id }}" name="password2" type="password" placeholder="{{ form.password2.label }}">
							<b class="tooltip tooltip-bottom-right">{{ form.password2.help_text }}</b>
						</label>
						{% for error in form.password2.errors %}
							<small class="help-block text-danger" style="">{{ error|escape }}</small>
						{% endfor %}
					</section>
                </fieldset>
                <footer>
                    <input type="submit" class="btn btn-primary btn-block prevent-double-click" value="{% trans 'Reset Password' %}">
                </footer>
            </form>
            {% else %}
            <div class="alert alert-danger fade in">
                <h5 class="alert-heading"><i class="fa-fw fa fa-check"></i> {% trans 'Link Invalid' %}</h5>
                {% blocktrans trimmed %}The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset{% endblocktrans %}
                <br>
                <a href="accounts:forgot-password" class="btn btn-sm btn-default" onclick="this.disabled=true,this.form.submit();">{% trans 'Resend Email' %}</a>
            </div>

            {% endif %}
        </div>

    </div>
</div>
{% endblock content %}
