{% load i18n %}
{% load staticfiles %}

<!-- Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">隱私權政策</h4>
            </div>
            <div class="modal-body custom-scroll terms-body">
                <div id="left">
                    <p><strong>行政院農業委員會（以下簡稱本會）為了協助您清楚地瞭解本服務如何蒐集、應用及保護您所提供的個人資料，請您詳細閱讀本服務隱私權保護政策。
                    </strong></p>
                    <h2>適用範圍</h2>
                    <p>本隱私權保護政策適用於您在使用本服務過程中，涉及個人資料蒐集、處理、利用與保護之相關作法。</p>
                    <h2>蒐集的資料類型、蒐集目的及使用方式</h2>
                    <p>當您於本服務註冊成為會員時，我們會詢問您的姓名、電子郵件地址等資料，但如您想進一步註冊成為具公務人員身分時，我們必須請您提供更多資訊，包含身分證字號、出生日期、通訊地址、聯絡電話及相關證明文件等；為確保您正常使用本服務，本站將定期向人事行政總處查詢您的服務機關最新名稱，主動更新您的公務帳號相關資料；另外在您使用電子付費、參加網路活動、申請部落格或檢舉爭議事件等特定服務時，我們可能會視不同服務需要，詢問您的身分證號碼、聯絡方式、付款資料。您在註冊成為會員並登入各項服務後，我們就能識別您的身分並提供您線上服務。您可以自由選擇是否提供個人資料給我們，但如特定資料欄位係屬必填者，您如不提供該等資料則無法使用相關服務。</p>
                    <h2>個人資料分享政策</h2>
                    <p>除非有下列情形，否則本會不會與第三人分享您的個人資料：</p>
                    <ul>
                        <li>本服務提供跨機關資訊系統單一登入功能，當您註冊成為會員，並透過他機關資訊系統引導至本服務進行單一登入功能時，部分該系統會在您成功登入後，要求取得您於本服務註冊會員時所填寫的個人資料，以提供您後續服務，惟該等資訊系統對所取得之個人資料有其相對之隱私權保護政策，用戶如需了解該等資訊系統如何對個人資料進行保護，請逕洽各該資訊系統之服務窗口。</li>
                        <li>司法單位因公眾安全，經合法正式的程序要求本服務公開特定個人資料時，以及對本服務所有使用者安全考量下做必要的配合。</li>
                        <li>經由您同意者。</li>
                    </ul>
                    <h2>個人資料使用期間與地區</h2>
                    <p>本服務僅在中華民國境內利用您的個人資料。您在本服務所輸入的個人資料，除於服務項目網頁上另有公告者，將因應前述蒐集目的永久保存；惟本會對超過5年未登入本服務之會員帳號或其它因服務維運作業需要，擁有刪除資料之權利。</p>
                    <h2>個人資料權利行使方式</h2>
                    <ul>
                        <li>當您在本服務中註冊成為會員後，您可以隨時利用您的帳號和密碼登入本服務「會員管理」功能，對您填寫的會員個人資料，進行查閱、製給複本、補充、更正及刪除。請注意，在您選擇刪除所註冊之會員帳號後，您將無法再以該帳號登入本服務，其餘個人資料權利之行使，您可透過電話或線上申請方式向本服務客服中心提出。</li>
                        <li>若您對第三人所留存本服務間接提供您的個人資料，需行使查閱、製給複本、補充、更正及刪除等權利時，請逕洽該第三人辦理。您在本服務所自主變更之個人資料，並不即時連動已提供第三人所留存的個人資料。</li>
                        <li>如您為本站會員，視為您同意本站隱私權保護政策各項條款，本站將不另外以書面方式徵求您的同意，如您不同意本隱私權保護政策各項條款，亦可以隨時利用您的帳號和密碼登入本服務「會員管理」功能，刪除您的會員帳號。</li>
                        <li>以下情形，本服務將以停止蒐集、處理或利用個人資料之方式代替刪除個人資料：
                            <ul>
                                <li>有法令規定。</li>
                                <li>有契約約定之保存期限。</li>
                                <li>有理由說明刪除時將侵害當事人保護利益。 </li>
                            </ul>
                        </li>
                    </ul>
                    <h2>Cookies的運用</h2>
                    <p>Cookies為資訊系統識別使用者而記錄於使用者硬碟之簡短資訊。在您的瀏覽器操作說明中可瞭解如何設定接受或拒絕cookies。如果您選擇拒絕，您將無法使用本服務部分服務項目。 下列情況，本服務會寫入及讀取Cookies：</p>
                    <ul>
                        <li>在您為了進行身分認證而使用「單一登入」服務時。</li>
                        <li>為統計本服務瀏覽人數、分析用戶瀏覽模式及瀏覽網頁的情況，做為本服務改善服務的參考。</li>
                        <li>為便利您使用本服務中其他服務項目而需記錄相關資訊時。</li>
                    </ul>
                    <h2>本服務傳送訊息之方式</h2>
                    <p>本服務將在您申請成為會員、參與網站活動或其它已取得您同意的情況下，以電子郵件傳送本服務相關資料給您。您能隨時停止接收資料。</p>
                    <h2>自我保護措施</h2>
                    <p>請妥善保管您的密碼或任何個人資料，不要將任何個人資料，尤其是密碼提供給任何人。在您登入系統完成各項作業後，務必記得登出帳號，若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料、信件或進入所屬機關管理區。</p>
                    <h2>隱私權保護政策修訂</h2>
                    <p>本隱私權保護政策將不定期修訂。本服務不會在未經您明確同意的情況下，縮減您的權利。隱私權保護政策變更時一律於本服務發布；如屬於重大變更者，本服務將搭配主動通知機制，讓您了解本隱私權保護政策所作之變更。另外，本服務舊版隱私權保護政策均已留存，方便您回顧。</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
                </button>
                <button type="button" class="btn btn-primary" id="i-agree" data-dismiss="modal" onclick="document.getElementById('{{ checkbox_id }}').checked = true;">
                <i class="fa fa-check"></i> 我同意
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->