{% load i18n %}
{% load staticfiles %}


<!-- #HEADER -->
<header id="header">
    <div id="logo-group">
        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="{% static 'img/logo-white.png' %}" alt="{% trans 'Agriculture Products Price Report Platform' %}"> </span>
        <!-- END LOGO PLACEHOLDER -->
    </div>

    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="{% trans 'Collapse Menu' %}"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="{% static 'vendor/img/avatars/sunny.png' %}" alt="John Doe" class="online" />
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'accounts:logout' %}" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="{% url 'accounts:logout' %}" title="{% trans 'Sign Out' %}" data-action="userLogout" data-logout-msg="{% trans 'You can improve your security further after logging out by closing this opened browser' %}"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!--&lt;!&ndash; search mobile button (this is hidden till mobile view port) &ndash;&gt;-->
        <!--<div id="search-mobile" class="btn-header transparent pull-right">-->
            <!--<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>-->
        <!--</div>-->
        <!--&lt;!&ndash; end search mobile button &ndash;&gt;-->

        <!--&lt;!&ndash; #SEARCH &ndash;&gt;-->
        <!--&lt;!&ndash; input: search field &ndash;&gt;-->
        <!--<form action="#ajax/search.html" class="header-search pull-right">-->
            <!--<input id="search-fld" type="text" name="param" placeholder="Find reports and more">-->
            <!--<button type="submit">-->
                <!--<i class="fa fa-search"></i>-->
            <!--</button>-->
            <!--<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>-->
        <!--</form>-->
        <!--&lt;!&ndash; end input: search field &ndash;&gt;-->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="{% trans 'Full Screen' %}"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

        <!-- multiple lang dropdown : find all flags in the flags page -->
        {% get_language_info_list for LANGUAGES as LANGUAGES %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_language_info for LANGUAGE_CODE as lang %}
        <ul class="header-dropdown-list hidden-xs">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{% static 'vendor/img/blank.gif' %}" class="flag flag-{{ lang.code }}" alt="{{ lang.name_local }}"> <span> {{ lang.name_local }}</span> <i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu pull-right">

                    {% for language in LANGUAGES %}
                    <li class="{% if language.code == lang.code %}active{% endif %}">
                        <a href="{% url 'set_user_language' lang=language.code %}"><img src="{% static 'vendor/img/blank.gif' %}" class="flag flag-{{ language.code }}" alt="{{ language.name_local }}"> {{ language.name_local }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
        <!-- end multiple lang -->

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->