{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>
			{% trans 'Agriculture Products Price Report Platform' %}
		</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/font-awesome.min.css' %}">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-production-plugins.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-production.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-skins.min.css' %}">

		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-rtl.min.css' %}">

		<!-- Custom StartAdmin Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-shortcut.custom.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin.custom.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/index.css' %}">

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- Plugin Styles -->
		<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">

		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
		<!-- SocialWall Styles -->
		<link rel="stylesheet" href="{% static 'css/smartadmin-socialwall.custom.css' %}">

		<!-- Bootstrap Multiselect Styles -->
		{% comment %} <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-multiselect.min.css' %}"> {% endcomment %}
		<style>
			.multiselect-container {
				height: 200px;
				overflow-y:auto;
			}
			.multiselect-container li a {
				padding-left: 26px;
			}
			.checkbox {
				display: inline;
			}
		</style>
	</head>

	<!--

	TABLE OF CONTENTS.

	Use search to find needed section.

	===================================================================

	|  01. #CSS Links                |  all CSS links and file paths  |
	|  02. #FAVICONS                 |  Favicon links and file paths  |
	|  03. #GOOGLE FONT              |  Google font link              |
	|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
	|  05. #BODY                     |  body tag                      |
	|  06. #HEADER                   |  header tag                    |
	|  07. #PROJECTS                 |  project lists                 |
	|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
	|  09. #MOBILE                   |  mobile view dropdown          |
	|  10. #SEARCH                   |  search field                  |
	|  11. #NAVIGATION               |  left panel & navigation       |
	|  12. #MAIN PANEL               |  main panel                    |
	|  13. #MAIN CONTENT             |  content holder                |
	|  14. #PAGE FOOTER              |  page footer                   |
	|  15. #SHORTCUT AREA            |  dropdown shortcuts area       |

	===================================================================

	-->

	<!-- #BODY -->
	<!-- Possible Classes

		* 'smart-style-{SKIN#}'
		* 'smart-rtl'         - Switch theme mode to RTL
		* 'menu-on-top'       - Switch to top navigation (no DOM change required)
		* 'no-menu'			  - Hides the menu completely
		* 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
		* 'fixed-header'      - Fixes the header
		* 'fixed-navigation'  - Fixes the main menu
		* 'fixed-ribbon'      - Fixes breadcrumb
		* 'fixed-page-footer' - Fixes footer
		* 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
	-->
	<body class="smart-style-2 fixed-header fixed-navigation">

		{% include 'header.html' %}
		{% include 'navigation.html' %}
		{% include 'main-panel.html' %}
		{% include 'footer.html' %}
		{% include 'shortcut.html' %}

		<!--================================================== -->

		<!-- Parse i18n-->
    	<script src='{% url "parse_javascript" %}'></script>

		<!-- #PLUGINS -->
		<!-- Link to Google CDN's jQuery + jQueryUI + jQueryCookie; fall back to local -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="{% static 'vendor/js/libs/jquery-3.6.0.min.js' %}"><\/script>');
			}
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="{% static 'vendor/js/libs/jquery-ui.min.js' %}"><\/script>');
			}
		</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script>
			if (!window.jQuery.cookie) {
				document.write('<script src="{% static 'vendor/js/libs/jquery.cookie.js' %}"><\/script>');
			}
		</script>

		<!-- Browser check -->
		<script>if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1)){window.location = '{% url 'browser_not_support' %}';}</script>

		<!-- jQuery Cookie -->
		<script src='{% static "vendor/js/plugin/date.js/date-zh-TW.js" %}'></script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="{% static 'vendor/js/app.config.seed.js' %}"></script>

		<!-- BOOTSTRAP JS -->
		<script src="{% static 'vendor/js/bootstrap/bootstrap.min.js' %}"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{% static 'vendor/js/smartwidgets/jarvis.widget.js' %}"></script>

		<!-- jQuery UI i18n -->
		{% get_current_language as LANGUAGE_CODE %}
		{% if LANGUAGE_CODE == 'zh-hant' %}
			<script src='{% static "vendor/js/libs/datepicker-zh-TW.js" %}'></script>
		{% endif %}

		<!-- MAIN APP JS FILE -->
		<script src="{% static 'vendor/js/app.js' %}"></script>

		<!-- Custom APP JS FILE -->
		<script src="{% static 'js/app.custom.js' %}"></script>

		<!-- JavaScript Plugin -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/js/bootstrap-dialog.min.js"></script>

		<!-- CKEditor Plugins -->
		<script src="{% static 'ckeditor/ckeditor-init.js' %}" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
		<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

		<!-- Custom Plugin -->
		<script src="{% static 'js/basefunction.js' %}"></script>

		{% if use_ga %}
			{% include "snippets/ga.html" with ga_tracking_id=ga_tracking_id %}
		{% endif %}

		<!-- Bootstrap Multiselect -->
		<script type="text/javascript" src='{% static "vendor/js/plugin/multiselect/bootstrap-multiselect.min.js" %}'></script>

		<!-- Bootstrap select -->
		<script type="text/javascript" src='{% static "vendor/js/bootstrap/bootstrap-select.min.js" %}'></script>
	</body>
</html>
