{% load staticfiles %}
{% load i18n %}
{% load watchlist_filter %}

<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="{% static 'img/avatars/user.png' %}" alt="me" class="" />
                <span>
                     {{ user.info.full_name }}
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->

    <!-- Watchlist info -->
    <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

            <a href="javascript:void(0);" data-action="toggleShortcutWatchlist">
                <img src="{% static 'img/avatars/watchlist.png' %}" alt="watchlist" class="" />
                <span>
                     {% trans 'Watchlist' %}
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li>
                <a href="{% url 'about' %}" title="{% trans 'Main' %}"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{% trans 'Main' %}</span></a>
                <ul>
                    <li class="">
                        <a href="{% url 'about' %}" title="{% trans 'About' %}"><i class="fa fa-lg fa-fw fa-info"></i> <span class="menu-item-parent">{% trans 'About' %}</span></a>
                    </li>
                </ul>
            </li>
            {% if user.is_staff %}
            <li>
                <a href="#" title="Admin"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">{% trans 'Admin' %}</span></a>
                <ul>
                    <li>
                        <a href="{% url 'admin:logs_log_changelist' %}" target="_blank" title="{% trans 'Log' %}"><span class="menu-item-parent">{% trans 'Log' %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'admin:dailytrans_dailytran_changelist' %}" target="_blank" title="{% trans 'Daily Transition' %}"><span class="menu-item-parent">{% trans 'Daily Transition' %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'admin:configs_source_changelist' %}" target="_blank" title="{% trans 'Source' %}"><span class="menu-item-parent">{% trans 'Source' %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'admin:configs_abstractproduct_changelist' %}" target="_blank" title="{% trans 'Product' %}"><span class="menu-item-parent">{% trans 'Product' %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'admin:configs_unit_changelist' %}" target="_blank" title="{% trans 'Unit' %}"><span class="menu-item-parent">{% trans 'Unit' %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'admin:watchlists_watchlist_changelist' %}" target="_blank" title="{% trans 'Watchlist' %}"><span class="menu-item-parent">{% trans 'Watchlist' %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'admin:watchlists_watchlistitem_changelist' %}" target="_blank" title="{% trans 'Watchlist Item' %}"><span class="menu-item-parent">{% trans 'Watchlist Item' %}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'admin:watchlists_monitorprofile_changelist' %}" target="_blank" title="{% trans 'Monitor Profile' %}"><span class="menu-item-parent">{% trans 'Monitor Profile' %}</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li>
                <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-teal"></i> <span class="menu-item-parent">{% trans 'Grand Totals' %}</span></a>
                <ul>
                    {% for config in totals %}
                    <li>
                        <!--navigate on this item -->
                        <a title="{{ config.name }}"
                           href="{% url 'chart_tab' wi=user_watchlist.id ct='config' oi=config.id %}"
                           data-load data-load-url="{% url 'jarvismenu' wi=user_watchlist.id ct='config' oi=config.id %}">

                            {% include 'contents/color-alert.html' with item=config watchlist=user_watchlist %}
                            <span class="menu-item-parent">{{ config.name }}</span>

                        </a>
                        <!-- dynamically load ul here -->
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-green"></i> <span class="menu-item-parent">{% trans 'Agricultures' %}</span></a>
                <ul>
                    {% for config in agricultures %}
                    <li>
                        <!-- don't navigate on this item, set href to # -->
                        <a title="{{ config.name }}"
                           href="#"
                           data-load data-load-url="{% url 'jarvismenu' wi=user_watchlist.id ct='config' oi=config.id %}">

                            {% include 'contents/color-alert.html' with item=config watchlist=user_watchlist %}
                            <span class="menu-item-parent">{{ config.name }}</span>
                        </a>
                        <!-- dynamically load ul here -->
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-orangeDark"></i> <span class="menu-item-parent">{% trans 'Livestocks' %}</span></a>
                <ul>
                    {% for config in livestocks %}
                    <li>
                        <!-- don't navigate on this item, set href to # -->
                        <a title="{{ config.name }}"
                           href="#"
                           data-load data-load-url="{% url 'jarvismenu' wi=user_watchlist.id ct='config' oi=config.id %}">

                            {% include 'contents/color-alert.html' with item=config watchlist=user_watchlist %}
                            <span class="menu-item-parent">{{ config.name }}</span>

                        </a>
                        <!-- dynamically load ul here -->
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i>
                    <span class="menu-item-parent">{% trans 'Fisheries' %}</span>
                </a>
                <ul>
                    {% for product in fisheries %}
                    <li>
                        <!-- if don't navigate on this item, set href to # -->
                        <a title="{{ product.name }}"
                           href="{% if product.to_direct %}{% url 'chart_tab' wi=user_watchlist.id ct='product' oi=product.id lct='config' loi=product.config.id %}{% else %}#{% endif %}"
                           data-load
                           data-load-url="{% url 'jarvismenu' wi=user_watchlist.id ct='product' oi=product.id lct='config' loi=product.config.id %}">

                            {% include 'contents/color-alert.html' with item=product watchlist=user_watchlist %}
                            <span class="menu-item-parent">{{ product.name }}</span>

                        </a>
                        <!-- dynamically load ul here -->
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->
