{% load i18n %}

<!-- start unit_json into -->
<p class="alert alert-info no-margin">
    {% if index %}
        {% if index == 'price' %}
        <i class="fa fa-circle"></i> {% trans 'Unit' %}: <strong>{{ unit_json.price_unit }}</strong>
        {% elif index == 'volume' %}
        <i class="fa fa-circle"></i> {% trans 'Unit' %}: <strong>{{ unit_json.volume_unit }}</strong>
        {% elif index == 'weight' %}
        <i class="fa fa-circle"></i> {% trans 'Unit' %}: <strong>{{ unit_json.weight_unit }}</strong>
        {% endif %}
    {% else %}
        {% if unit_json.price_unit %}
        <i class="fa fa-circle"></i> {% trans 'Price Unit' %}: <strong>{{ unit_json.price_unit }}</strong>
        {% endif %}
        {% if unit_json.volume_unit %}
        <i class="fa fa-circle"></i> {% trans 'Volume Unit' %}: <strong>{{ unit_json.volume_unit }}</strong>
        {% endif %}
        {% if unit_json.weight_unit %}
        <i class="fa fa-circle"></i> {% trans 'Weight Unit' %}: <strong>{{ unit_json.weight_unit }}</strong>
        {% endif %}
    {% endif %}
</p>
<!-- end unit_json info -->