{% load i18n %}
{% load socialwall_filter %}


<div class="grid-item col-md-6 col-xs-12">
  <span id="span-{{ post.id }}" class="timeline-seperator text-center"> <span>{{ post.timestamp|socialwall_posttime_filter }}</span>
    <div class="btn-group pull-right">
      <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
      <ul class="dropdown-menu text-left">
        <li>
          <a data-id="{{ post.id }}" class="post-hide" href="javascript:void(0);">{% trans 'Hide this post' %}</a>
        </li>
        <!-- <li>
          <a href="javascript:void(0);">Hide future posts from this user</a>
        </li>
        <li>
          <a href="javascript:void(0);">Mark as spam</a>
        </li> -->
      </ul>
    </div>
  </span>
  <div id="div-{{ post.id }}" class="chat-body no-padding profile-message">
    <ul class="post-update">
      <li class="post-edit-area">
        <h1 class="socialwall-title">{{ post.title }}</h1>
      </li>
      <li class="message socialwall-message post-edit-area">
        <!-- <img src="img/avatars/sunny.png" class="online"> -->
        <div class="message-text socialwall-author">
          <!-- <div class="read-more big-preview"> -->
            <a href="javascript:void(0);" class="username">{{ post.user.info.full_name }}</a>
            <span class="timefilter">
                <small class="text-muted ultra-light socialwall-post-time">
                    {{ post.updated|timediff_filter }}
                </small>
            </span>

            {{ post.content|safe }}
            <!-- <p class="prompt">
              <a class="button btn btn-danger" href="#">Read More</a>
            </p> -->
          <!-- </div> -->
        </div>
        <ul class="list-inline font-xs">
          <li class="socialwall-btn-reply">
            <a data-id="{{ post.id }}" href="javascript:void(0);" class="text-info post-reply"><i class="fa fa-reply"></i> {% trans 'Reply' %}</a>
          </li>
          <!-- <li class="toggle-like">
            <a data-id="{{ post.id }}" href="javascript:void(0);" class="text-danger reply-like"><i class="fa fa-thumbs-o-up"></i> {% trans 'Like' %}</a>
          </li> -->
          <!-- <li>
            <a href="javascript:void(0);" class="text-muted">Show All Comments (14)</a>
          </li> -->
          {% if request.user.info.full_name == post.user.info.full_name %}
          <li>
            <a href="javascript:void(0);" class="text-primary post-edit" data-id="{{ post.id }}" api="{% url 'posts:api_socialwall_all' %}">{% trans 'Edit' %}</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="text-danger post-delete" data-id="{{ post.id }}" api="{% url 'posts:api_socialwall_all' %}">{% trans 'Delete' %}</a>
          </li>
          {% endif %}
          {% if post.file != '' %}
            <li>
              <a href="/media/{{ post.file }}" class="glyphicon glyphicon-paperclip" target="_blank" title="{{ post.file }}"></a>
            </li>
          {% endif %}
        </ul>

      </li>

      <li id="insert-reply-{{ post.id }}" class="message message-reply socialwall-reply">
        <div class="socialwall-reply-text">
          <input id="reply-text" class="form-control input-xs socialwall-reply-text" placeholder="{% trans 'Type and enter' %}" type="text" data-id="{{ post.id }}" api="{% url 'comments:api_comments_c' %}" data-token="{{ csrf_token }}">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-reply" id="btn-chat">
              <em class="fa fa-reply"></em> {% trans 'Reply' %}
            </button>
          </span>
        </div>
      </li>

    </ul>

  </div>

</div>
