#logo img {
    width: 150px;
    height: auto;
}

#logo {
    margin-top: 8px;
}

.smart-style-2 nav ul ul ul ul ul ul ul li a {
    padding-left: 70px;
}

.smart-style-2 nav ul ul ul ul ul ul ul ul li a {
    padding-left: 80px;
}

.nav-pills > li > a {
    border-radius: 0;
    color: #333;
    background-color: #f5f5f5;
    margin-bottom: 0;
}

.nav-pills.nav-pills-primary > li > a:focus,
.nav-pills.nav-pills-primary > li.active > a {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.nav-pills.nav-pills-info > li > a:focus,
.nav-pills.nav-pills-info > li.active > a {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.nav-pills.nav-pills-blueDark > li > a:focus,
.nav-pills.nav-pills-blueDark > li.active > a {
    color: #fff;
background: #2C3742!important;
    border-color: #2C3742!important;
}

.fixed-ribbon #content {
    padding-top: 42px;
}

button.multiselect {
    padding: 3px 6px;
    cursor: pointer;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>li>a:hover>label {
    color: #fff;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a>label {
    color: #fff;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.no-min-height {
    min-height: auto !important;
}

#main {
    min-height: 400px !important;
}

.ajax-loading-animation {
    margin-left: 15px;
}

.flag.flag-zh-hant {
    background-position: -64px -154px
}

.flag.flag-en {
    background-position: -144px -154px
}

.dt-toolbar>:last-child .DTTT, .dt-toolbar>:last-child .dataTables_filter>:only-child {
    float: left;
}
.dt-toolbar>:last-child .DTTT, .dt-toolbar>:last-child .dataTables_filter>:only-child > input[type="search"] {
    display: inline-block;
    margin-left: 5px;
}

.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-prev:hover {
    cursor: pointer;
}

nav a>em {
    font-size: 9px;
    display: block;
    padding: 2px;
    position: absolute;
    top: -8px;
    right: -6px;
    text-decoration: none;
    font-style: normal;
    background: #ED1C24;
    color: #fff;
    min-width: 13px;
    border-radius: 50%;
    max-height: 13px;
    line-height: 8px;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border: 1px solid rgba(255,255,255,.1);
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
     vertical-align: middle;
}

.select2-container {
    padding: 0 !important;
}
.select2-choices {
    border: 0 !important;
}

.multiselect-container>li>a>label {
    padding: 3px 0px 3px 0px !important;
    text-align: center !important;
}
.multiselect-container .smart-form .checkbox, .smart-form .radio {
    padding-left: none;
}