body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",Microsoft JhengHei,Arial,Helvetica,Sans-Serif !important;
}

html {
    background: #fff !important;
}

.event-batch-loding {
    margin-left: 0px !important;
    margin-top: 10px !important;
}

.cursor {
    cursor: default;
}

.open > .dropdown-menu {
    animation-name: none;
    animation-duration: unset;
    animation-fill-mode: none;
}
