{% load i18n %}
{% load staticfiles %}
<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">

			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-home"></i>
				{% trans 'Main' %}
			<span>>
				{% trans 'About' %}
			</span>

		</h1>
	</div>
	<!-- end col -->
</div>
<!-- end row -->

	<!-- row -->
	<div class="row">
        <div class="col-sm-12">

            <div class="alert alert-warning fade in">
				<button class="close" data-dismiss="alert">
					×
				</button>
				<i class="fa-fw fa fa-warning"></i> {% trans 'This website is used for Council of Agriculture and affiliated institution only' %}
			</div>

			<!-- start jumbotron -->
            <div class="jumbotron">
              <div>
                <h6 class="font-lg">{% trans 'The purpose of construction' %}</h2>
                <p>
                  {% trans 'The platform combined the price and the trading volume of agricultural products from Council of Agriculture (COA) and the affiliated agencies including Agriculture and Food Agency, Fisheries Agency and Department of Animal Industry in order to provide quick visual research and help the staff in COA and affiliated agencies control the price and the trading volume trend of agricultural products. We keep developing user interfaces of price monitoring alerts and traceable agricultural events in the platform to aid the users handle the price and the trading volume trend of agricultural products in time and figure out the reasons for particular price and trading volume variation historically. Furthermore, we will extend the query function of social media, comments and production period to provide One-Stop Service integrated related information about price and the trading volume of agricultural products.' %}
                </p>
                <hr>
                <h6 class="font-lg">{% trans 'Monitored items' %}</h2>
                <p>{% trans 'Currently, there are 63 items consist of 10 overall and categorized items of vegetables, fruits and flowers in Taipei Agricultural Products Wholesale Market and 53 daily-monitored important agricultural products in COA. The wholesale prices of monitored items in including price and trading volume (only parts of information of vegetables, fruits and flowers are contained in Taipei Agricultural Products Wholesale Market); however, the monitored items with price of origin only cover local transaction price. It is feasible to reserve or increase other agricultural products in the platform and we will in time add items which are contained in current wholesale or local Markets as acquired.' %}
                </p>
                <hr>
                <h6 class="font-lg">{% trans 'Source of information' %}</h2>
                <p>{% trans 'The information was provided by National Animal Industry Foundation (wholesale market price), Agriculture and Food Agency (local price), Agricultural Market Infrastructure System (wholesale market price), Taiwan Aquaculture Development Foundation (local price) and other industrial organizations, which constructed related Application Programming Interface (API) based on the current information system. Next, we retrieved the information from specific scheduled program according to Machine To Machine (M2M) or open data platform in COA.' %}
                </p>
                <hr>
                <h6 class="font-lg">{% trans 'Features' %}</h2>
                <p>{% trans 'Showing daily price/volume trends, year by year trends and distribution plot with charts, each chart provide raw data, integration data and exporting services.' %}
                </p>
                <hr>
				<p><a href="{% static 'doc/document.pdf' %}" target="_blank">{% trans 'Download document' %}</a></p>
				<hr>
                <h6 class="font-lg">{% trans 'Cooperation Units' %}</h2>
                <p>{% trans '1. The platform was constructed by statistics office in COA and Taiwan Agricultural Research Institute (Agricultural Policy Research Center). All of the technical supports were provided by statistical information integrated team in Agricultural Policy Research Center. 2. The related information of price and the trading volume was provided by Livestock Research Institute, Agriculture and Food Agency and Fishery Agency and they help connect affiliated industrial organization to provide automatic interface service. We will keep providing the information about “comments”, “production and trading events” and “monitored price”. 3. Information Management Center provides interface technique based on open data platform in COA and Research & Development Departments and professional consult to help eliminate obstacle interface.' %}
                </p>
              </div>
            </div>
            <!-- end jumbotron-->
		</div>
	</div>
	<!-- end row -->


<script>


	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 *
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 *
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){
	 *  loadScript(".../plugin.js", run_after_loaded);
	 * }
	 *
	 * OR you can load chain scripts by doing
	 *
	 * loadScript(".../plugin.js", function(){
	 * 	 loadScript("../plugin.js", function(){
	 * 	   ...
	 *   })
	 * });
	 */

	// pagefunction

	var pagefunction = function() {
		// clears the variable if left blank
	};

	// end pagefunction

	// run pagefunction
	pagefunction();

</script>
