{% load i18n %}
{% load staticfiles %}



<!-- row -->
<div class="row">

    <ul id="chart-functions-tab" class="nav nav-pills nav-pills-blueDark nav-justified">
        {% for chart in charts %}
        <li>
            <a data-load-url="{% if lct and loi %}{% url 'chart_content' ci=chart.id wi=wi ct=ct oi=oi lct=lct loi=loi %}{% else %}{% url 'chart_content' ci=chart.id wi=wi ct=ct oi=oi %}{% endif %}"
               data-load
               href="#chart-{{ chart.id }}" class="font-md"
               data-toggle="tab">{{ chart.name }}</a>
        </li>
        {% endfor %}

        {% if monitor_profiles %}
        <li>
            <a href="#product-profile" class="font-md"
               data-toggle="tab">{% trans 'Product Profile' %}</a>
        </li>
        {% endif %}
    </ul>

    <div id="chart-functions-content" class="tab-content" style="opacity: 1;">
        {% for chart in charts %}
        <div class="tab-pane fade" id="chart-{{ chart.id }}">
            <!-- dynamically load content here -->
        </div>
        {% endfor %}

        {% if monitor_profiles %}
        <div class="tab-pane fade" id="product-profile">
            {% include 'contents/product-profile.html' %}
        </div>
        {% endif %}
    </div>

</div>

<!-- end row -->

<script>
	
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	// PAGE RELATED SCRIPTS

	// pagefunction
	
	var pagefunction = function() {

	    dynamic_setup_widgets('product-profile-widget-grid');

        // TAB CLICK
        $('#chart-functions-tab').on('shown.bs.tab','a[data-toggle="tab"][data-load]', function(){
            $this = $(this);
            var url = $this.attr('data-load-url');
            var $container = $($this.attr('href'));

            // REFLOW CONTAINER CHARTS
            if($this.attr('data-load')){
                $container.find('[data-highcharts-chart]').each(function(){
                    $(this).highcharts().reflow();
                    root.console.log('reflow highchart ' + $(this).data('highcharts-chart'));
                })
                return;
            }

            loadURL(url, $container);
            $this.attr('data-load', true);
        });

        // INITIAL FIRST CHART
        $('#chart-functions-tab a[data-toggle="tab"][data-load]:eq(0)').trigger('click');

	};
	
	// end pagefunction
	
	// run pagefunction on load

    pagefunction()


</script>