{% load i18n %}
{% load staticfiles %}
{% load json_filters %}
{% load crispy_forms_tags %}

{{ event_form.media.css }}

<section id="chart-{{ chart.id }}-widget-grid" class="padding-10">
    <div class="row padding-10">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- start chart widget -->
            <div class="jarviswidget jarviswidget-color-redLight" id="chart-{{ chart.id }}-widget-highchart"
                 data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-area-chart"></i> </span>
                    <h2 class="font-md"><strong>{% trans 'Chart' %}</strong></h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div id="chart-{{ chart.id }}-widget-highchart-body"></div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

            <!-- start integration widget -->
            {% include 'contents/event-widget-type-panel-groups.html' %}
            <!-- end widget -->


        </article>
    </div>
</section>

<!-- NEW and EDIT Modal -->
<div class="modal fade" id="eventModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <!-- id, action: for js behavior
                     data-content-type-id, object-id: creating new event
                     data-read-url: get list json for DataTable.js
                     data-url: update, delete single row data
                -->
                <form id="event-form" action=""
                      data-content-type="{{ event_content_type_id }}"
                      data-object-id="{{ event_object_id }}"
                      data-url="{% url 'events:api:api_event_cr' %}"
                      method="POST" autocomplete="off">{% csrf_token %}
                    {{ event_form|crispy }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="submit" class="btn btn-primary" form="event-form">{% trans 'Submit' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eventBatchModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="batch-event-modal-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="event-batch-file-form" action=""
                    enctype="multipart/form-data"
                    data-url="{% url 'events:api:api_event_batch_file' %}">
                    {% csrf_token %}
                    <input type="file" id="batch-event-file" name="image" />
                </form>
                <div class="ajax-loading-animation event-batch-loding">
                    <i class="fa fa-cog fa-spin"></i>
                    Loding...
                </div>
                <div>
                    <br />
                    只可上傳excel檔案，並依照下表格式編輯，使用多個事件分類請以半形逗號（,）隔開。
                </div>
                <div class="example-table">
                    <br />
                    Example
                    <table class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>事件分類</td>
                                <td>名稱</td>
                                <td>內容</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2019/1/1</td>
                                <td>天災/冰雹,其他,節慶/端午節</td>
                                <td>測試名稱</td>
                                <td>測試內容</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="example-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>事件分類</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>天災</td>
                                </tr>
                                <tr>
                                    <td>天災/冰雹</td>
                                </tr>
                                <tr>
                                    <td>天災/地震</td>
                                </tr>
                                <tr>
                                    <td>天災/高溫</td>
                                </tr>
                                <tr>
                                    <td>天災/乾旱</td>
                                </tr>
                                <tr>
                                    <td>天災/寒害</td>
                                </tr>
                                <tr>
                                    <td>天災/豪雨</td>
                                </tr>
                                <tr>
                                    <td>天災/颱風</td>
                                </tr>
                                <tr>
                                    <td>其他</td>
                                </tr>
                                <tr>
                                    <td>政策</td>
                                </tr>
                                <tr>
                                    <td>政策/貿易</td>
                                </tr>
                                <tr>
                                    <td>疫情</td>
                                </tr>
                                <tr>
                                    <td>節慶</td>
                                </tr>
                                <tr>
                                    <td>節慶/中元節</td>
                                </tr>
                                <tr>
                                    <td>節慶/中秋節</td>
                                </tr>
                                <tr>
                                    <td>節慶/春節</td>
                                </tr>
                                <tr>
                                    <td>節慶/清明節</td>
                                </tr>
                                <tr>
                                    <td>節慶/端午節</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-batch-event-file-cancel" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="submit" id="btn-batch-event-file-submit" class="btn btn-primary" form="event-batch-file-form">{% trans 'Submit' %}</button>
            </div>
        </div>
    </div>
</div>

<script>

	pageSetUp();

	// pagefunction

	var pagefunction = function() {

	    dynamic_setup_widgets('chart-{{ chart.id }}-widget-grid');

        var seriesOptions = {{ series_options|stringify|safe }}
	    var unit = {{ unit_json|stringify|safe }};

	    chart5Helper.init("{% url 'events:api:api_event_cr' %}", {{ event_content_type_id }}, {{ event_object_id }});

	    var chart = chart5Helper.create('chart-{{ chart.id }}-widget-highchart-body', seriesOptions, unit);

	    // init datatable
        $('#chart-{{ chart.id }}').find('.datatable-event').each(function(){
            var $container = $(this).attr('id');
            table = dataTableHelper.createEvent($container);
        })

	};

	// end pagefunction

    // PAGE RELATED SCRIPTS

    scripts = [
        "{% static 'vendor/js/notification/SmartNotification.min.js' %}",
        "{% static 'js/highcharts/chart5Helper.js' %}",
    ]

    // Important: load form js assets here
    scripts = $.merge(scripts, {{ event_form_js|stringify|safe }});

    scriptLoader(scripts, pagefunction);

</script>
