amqp==2.2.2
arrow==0.12.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
blessed==1.14.2
boto==2.48.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
cssutils==1.0.2
defusedxml==0.5.0
Django==1.9
django-allauth==0.34.0
django-crispy-forms==1.7.0
django-filter==1.1.0
django-markdown-deux==1.0.5
django-model-utils==3.0.0
django-picklefield==1.0.0
django-q==0.9.0
django-require==1.0.11
django-require-s3==1.0.0
django-storages==1.6.5
django-widget-tweaks==1.4.1
djangorestframework==3.6.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
Markdown==2.6.11
markdown2==2.3.5
MarkupSafe==1.0
mock==2.0.0
oauthlib==2.0.6
pbr==3.1.1
Pillow==5.0.0
psycopg2==2.7.3.2
pynliner3==0.6
python-dateutil==2.6.1
python3-openid==3.1.0
requests==2.18.4
requests-oauthlib==0.8.0
sh==1.12.14
six==1.11.0
static3==0.7.0
typing==3.6.4
urllib3==1.22
vine==1.1.4
waitress==1.1.0
wcwidth==0.1.7
Werkzeug==0.14.1
wfastcgi==3.0.0
whitenoise==3.3.1
PyYAML==3.12
pandas==0.22.0
celery==4.1.0
django-celery-beat==1.1.1
django-celery-results==1.0.1
redis==2.10.6
eventlet==0.22.1
django-db-logger==0.1.6
django-admin-rangefilter==0.3.6
django-tracking2==0.4.0
htmlmin==0.1.12
