six==1.11.0
pillow==8.1.2
pyyaml>=5.3.1
requests==2.20.0
psycopg2==2.7.3.2
pandas==0.22.0
flake8==3.6.0
pycodestyle==2.4.0
xlrd == 1.2.0
openpyxl==3.0.0

google-api-python-client==2.37.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
httplib2shim==0.0.3

celery==5.2.2
redis==2.10.6
django-celery-beat==1.1.1
django-celery-results==1.0.1
eventlet==0.22.1
kombu==4.1.0

django==1.9.13
django-crispy-forms==1.7.0
django-markdown-deux==1.0.5
django-model-utils==3.0.0
django-widget-tweaks==1.4.1
djangorestframework==3.6.4
whitenoise==3.3.1
django-db-logger==0.1.6
django-admin-rangefilter==0.3.6
django-tracking2==0.4.0
django-ckeditor==5.4.0
django-tagulous==0.13.2
django-environ==0.4.5
pytest-django==3.6.0

sxtwl==1.1.0
SQLAlchemy==1.3.18
pytesseract==0.3.7
beautifulsoup4==4.9.3