{% load i18n %}
{% load socialwall_filter %}


<li class="post-edit-area">
  <h1 class="socialwall-title">{{ data.title }}</h1>
</li>

<li class="message socialwall-message post-edit-area">
  <!-- <img src="img/avatars/sunny.png" class="online"> -->
  <div class="message-text socialwall-author">
    <!-- <div class="read-more big-preview"> -->
    <a href="javascript:void(0);" class="username">
      {{ data.user.username }}
      <small class="text-muted ultra-light socialwall-post-time">{{ data.updated|editdiff_filter }} {% trans 'edited' %}</small>
    </a>
    {{ data.content|safe }}
    <!-- <p class="prompt">
    <button class="button btn btn-danger" href="#">Read More</button>
  </p> -->
  <!-- </div> -->
</div>

<ul class="list-inline font-xs">
  <li class="socialwall-btn-reply">
    <a data-id="{{ data.id }}" href="javascript:void(0);" class="text-info post-reply"><i class="fa fa-reply"></i> {% trans 'Reply' %}</a>
  </li>
  <!-- <li class="toggle-like">
    <a data-id="{{ data.id }}" href="javascript:void(0);" class="text-danger reply-like"><i class="fa fa-thumbs-o-up"></i> {% trans 'Like' %}</a>
  </li> -->
  <!-- <li>
  <a href="javascript:void(0);" class="text-muted">Show All Comments (14)</a>
</li> -->
{% if request.user.username == data.user.username %}
<li>
  <a href="javascript:void(0);" class="text-primary post-edit" data-id="{{ data.id }}" api="{% url 'posts:api_socialwall_all' %}">{% trans 'Edit' %}</a>
</li>
<li>
  <a href="javascript:void(0);" class="text-danger post-delete" data-id="{{ data.id }}" api="{% url 'posts:api_socialwall_all' %}">{% trans 'Delete' %}</a>
</li>
{% endif %}
{% if data.file != None %}
<li>
  <a href="{{ data.file }}" class="glyphicon glyphicon-paperclip" target="_blank" title="{{ data.file }}"></a>
</li>
{% endif %}
</ul>

</li>
