{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<style type="text/css">
div#content {
	background-color: #F7F7F7;
}

div#main {
	background-color: #F7F7F7;
}

li.message.message-reply.socialwall-reply {
  margin-left: 0px !important;
  background-image: url('{% static "vendor/img/mybg.png" %}');
}
</style>

<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">

			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-home"></i>
				{% trans 'Main' %}
			<span>>
				{% trans 'Social Wall' %}
			</span>

		</h1>
	</div>
	<!-- end col -->

</div>
<!-- end row -->

<!--
The ID "widget-grid" will start to initialize all widgets below
You do not need to use widgets if you dont want to. Simply remove
the <section></section> and you can use wells or panels instead
-->


<!-- include libraries(jQuery, bootstrap) -->
<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> -->

<!-- include summernote css/js -->
<!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script> -->

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
<div class="row">

		<!-- a blank row to get started -->
		<div class="col-sm-12 col-lg-12">

			<!-- <div class="socialwall-newpost-btn"> -->
				 <!-- data-toggle="modal" data-target="#form-post" -->
				<!-- <button type="button" id="btn-newpost" class="btn btn-primary">{% trans 'New Post' %}</button>
			</div> -->

			<div id="search-area" class="input-group input-group-lg search-area">
				<div class="input-group-btn search-panel">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          	<span id="search_concept" url="{% url 'posts:post_search' %}">{% trans 'Filter by' %}</span>
						<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
	          <li><a href="javascript:void(0)" data-type="Title">{% trans 'Title' %}</a></li>
            <li><a href="javascript:void(0)" data-type="Author">{% trans 'Author' %}</a></li>
            <li><a href="javascript:void(0)" data-type="Content">{% trans 'Content' %}</a></li>
            <li><a href="javascript:void(0)" data-type="Comment">{% trans 'Comment' %}</a></li>
            <li class="divider"></li>
	          <li><a class="search-everything" href="javascript:void(0)" data-type="All">{% trans 'All' %}</a></li>
          </ul>
        </div>
        <input type="hidden" name="search_param" value="All" id="search_param">
        <input type="text" class="form-control search-text" name="x" data-hint="{% trans 'Search term...' %}" placeholder="{% trans 'Default search all...' %}">
        <span class="input-group-btn">
          <button class="btn btn-default search-btn" type="button">
						&nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-search fa-lg"></span>&nbsp;&nbsp;&nbsp;</button>
        </span>
			</div>

			<div class="tool-div tool-div-1">
				<a href="javascript:void(0)">
					<i id="btn-newpost" class="fa fa-pencil tool-btn"></i>
				</a>
			</div>

			<div class="tool-div tool-div-2">
				<a href="javascript:void(0)">
					<i id="btn-scroll-top" class="fa fa-chevron-up tool-btn"></i>
				</a>
			</div>

		</div>

		{% include 'form_modal.html' %}

</div>

<div class="row">

	<div class="grid" data-infinite="{% url 'posts:api_socialwall_all' %}">
		<div class="grid-sizer col-md-6 col-xs-12"></div>
		
	</div>

</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	* ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	* eg alert("my home function");
	*
	* var pagefunction = function() {
	*   ...
	* }
	* loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	*
	* TO LOAD A SCRIPT:
	* var pagefunction = function (){
	*  loadScript(".../plugin.js", run_after_loaded);
	* }
	*
	* OR you can load chain scripts by doing
	*
	* loadScript(".../plugin.js", function(){
	* 	 loadScript("../plugin.js", function(){
	* 	   ...
	*   })
	* });
	*/

	// pagefunction

	scripts = [
		// Masonry Plugins
		"{% static 'vendor/js/masonry.pkgd.js' %}",
		// SocialWall Plugins
		"{% static 'js/socialwall.js' %}",
	]

	var pagefunction = function() {
		socialWallHelper.init();
	};

	if(window.socialWallHelper) {
		pagefunction();
	} else {
		scriptLoader(scripts, pagefunction);
	}


	// end pagefunction

	// destroy generated instances
	// pagedestroy is called automatically before loading a new page
	// only usable in AJAX version!

	var pagedestroy = function() {

		/*
		 Example below:

		 $("#calednar").fullCalendar( 'destroy' );
		 if (debugState){
		 root.console.log("✔ Calendar destroyed");
		 }

		 For common instances, such as Jarviswidgets, Google maps, and Datatables, are automatically destroyed through the app.js loadURL mechanic

		 */
	}
	// end destroy

	// run pagefunction
	// pagefunction();

</script>
